html {
	--color-main: #232532;
	--color-green: #dfffe6;
	--color-red: red;
}

body {
	position: relative;
	background: var(--color-main);
}

.input {
	border: 1px solid var(--color-main);
	border-radius: 5px;
	padding: 10px 15px;
}

.tasks {
	padding: 50px 0px;
	display: grid;
	grid-gap: 30px;
}

.tasks-form {
	margin: 0 auto;
	background: #fff;
	border-radius: 20px;
	width: 800px;
	padding: 30px;
	display: flex;
	gap: 20px;
	// .tasks-form__input
	&__input {
		flex: 1 1 auto;
	}
	// .tasks-form__button
	&__button {
		background: var(--color-main);
		color: #fff;
		padding: 5px 15px;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				filter: brightness(1.5);
			}
		}
	}
}

.tasks-container {
	margin: 0 auto;
	background: #fff;
	border-radius: 20px;
	display: grid;
	grid-gap: 20px;
	width: 800px;
	padding: 30px;
	// .tasks-container__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	// .tasks-container__title
	&__title {
		font-size: 30px;
	}
	// .tasks-container__search
	&__search {
		width: 300px;
		padding: 5px 10px;
	}
}

.tasks-list {
	// .tasks-list__item
	&__item {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		padding: 10px 10px;
		transition: all 0.2s ease 0s;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-main);
		}
	}
	// .tasks-list__title
	&__title {
		flex: 1 1 auto;
		display: flex;
		gap: 5px;
	}
	// .tasks-list__input
	&__input {
		background: transparent;
		flex: 1 1 auto;
	}
	// .tasks-list__remove
	&__remove {
		color: var(--color-red);
	}
}
